# Logs
logs
*.Logs

# Compiled directory and file
build/
bundle.js

# Dependency directories
node_modules/

# DS_Store = binary info for files for MacOS
.DS_Store
./react-client/src/.DS_Store

#Hiding API keys
apiGoogleconfig.json
