/* ************** ABOUT US ************** */
#about-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  flex: 1;
}

.aboutTitle {
  display: flex;
  justify-content: center;
  font-size: 34px;
}

#aboutUsContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  /*display: grid;
  grid-template-columns: repeat(1, 1fr); */
  gap: 45px;
  padding-left: 10%;
  padding-right: 10%;
}

#mission {
  margin-bottom: 0px;
  width: 100%;
  /*min-height: 16rem;*/
  max-width: 100%;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
}

.whomst {
  display: flex;
  flex-direction: row;
  flex: 1 0 21%;
}

.photo-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 0 21%;
}

.about-info {
  width: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: top;
  margin: 0 20px 20px 0;
}

.headshot {
  border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

/* ************** CONTACT ************** */
#contact-page {
  text-align: center;
  font-size: 24px;
  margin: 10%;
}

/* ************** EVENTS ************** */
#events-page {
  text-align: center;
  font-size: 24px;
  margin: 10%;
}

/* ************** FOOTER ************** */
.footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  align-items: flex-start;
  height: auto;
  background-color: #2d2e2e;
  color: white;
  text-align: center;
  overflow: auto;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: auto;
  min-height: auto;
  box-sizing: border-box;
}

#socialLinks img {
  border-radius: 50%;
}

#social {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: auto;
  padding: 1em;
  text-align: left;
  float: left;
  font-family: Obvia;
  box-sizing: border-box;
  overflow: auto;
}

#social h1 {
  font-weight: normal;
  margin: 0;
}

#social h1 span {
  color: #f26739;
}

#social h3 {
  font-weight: lighter;
  text-transform: uppercase;
  opacity: 0.6;
  margin-top: 0.25em;
}

#socialLinks a {
  flex-direction: row;
  padding: 0 1em 0 0;
  opacity: 0.3;
}

#social a:hover {
  opacity: 1;
  border: none;
}

#social img {
  height: 2em;
  width: 2em;
}

#contact {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: auto;
  float: right;
  text-align: right;
  line-height: 0.5em;
  font-weight: bold;
  padding-right: 1em;
  padding-top: 0;
  font-size: 16px;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.contactText a {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 12px;
    position: relative;
  }

  #contact {
    font-size: 12px;
    padding-top: 0.5em;
  }
}

/* ************** HEADER ************** */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  flex: 1;
  overflow: hidden;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  background: linear-gradient(grey, 40%, rgba(255, 255, 255, 0));
}

.logo {
  display: flex;
  flex: 1 1 50%;
  flex-grow: 1;
  width: 50%;
  height: 100px;
  overflow: hidden;
  box-sizing: border-box;
}

#logoImage {
  padding: 1.5em;
  padding-left: 2.5em;
  padding-bottom: .5em;
  height: 4em;
  width: 4em;
}

#logoLink a:hover {
  border: none;
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  flex: 1 1 50%;
  flex-grow: 1;
  width: 50%;
  height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.headerButtons {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  padding-top: 1.25em;
  text-transform: uppercase;
  opacity: 1;
}

.navButton {
  display: flex;
  width: 25%;
  font-size: 22px;
  padding-top: 1em;
}

.buttonLinks {
  color: black;
  text-decoration: none;
}

/* ************** HOME PAGE ************** */
/*
.home {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*/
.inner-container {
  padding: 3em 3em 3em 3em;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  flex-grow: 1;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 1024;
  width: 100%;
  height: auto;
  position: relative;
  overflow: auto;
  top: 1;
  left: 0;
}

.homeTitle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 30%;
  box-sizing: border-box;
  padding: .3em .3em .3em .3em;
}

.homeTitle h1 {
  display: flex;
  margin: 0;
  font-size: 100px;
  background: rgba(255, 255, 255, 0.7);
  /*  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;*/
}

.homeTitle h1 span {
  color: #f26739;
}

.homeText {
  display: flex;
  text-align: justify;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.7);
  padding: 2em;
  margin-left: 5em;
}

@media screen and (max-width: 768px) {
  #app {
    padding-bottom: 0;
    height: initial;
  }

  #homeBody {
    padding: 1em;
  }

  #homeTitle {
    float: none;
  }

  #homeText {
    padding: 1em;
    max-width: 90%;
  }
}

/* ************** RESOURCES ************** */
#campus-resources, #summer-opportunities {
  text-align: center;
}

#container-resources {
  text-align: center;
  display: flex;
  flex-direction: row;
  /*display: grid;
  grid-template-columns: repeat(2, 1fr); */
  gap: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#open-source-resources, #academic-support {
  flex-grow: 2;
  /*background: rgba(0, 0, 0, 0)
  radial-gradient(at left top, rgb(228, 115, 45) 0%,
  rgb(228, 45, 66) 100%) repeat scroll 0% 0%; */
  /*background: white; */
  margin-bottom: 20px;
  width: 50%;
  min-height: 16rem;
  max-width: 50%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  /*box-shadow: rgba(0, 0, 0, 0.063) 0px 8px 32px; */
  box-sizing: border-box;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

/* ************** CONTACT ************** */
#contact-page {
  text-align: center;
  font-size: 24px;
  margin: 10%;
}

/* ************** RESOURCES ************** */
#campus-resources, #summer-opportunities {
  text-align: center;
}

#container-resources {
  text-align: center;
  display: flex;
  flex-direction: row;
  /*display: grid;
  grid-template-columns: repeat(2, 1fr); */
  gap: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#open-source-resources, #academic-support {
  flex-grow: 2;
  /*background: rgba(0, 0, 0, 0)
  radial-gradient(at left top, rgb(228, 115, 45) 0%,
  rgb(228, 45, 66) 100%) repeat scroll 0% 0%; */
  /*background: white; */
  margin-bottom: 20px;
  width: 50%;
  min-height: 16rem;
  max-width: 50%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  /*box-shadow: rgba(0, 0, 0, 0.063) 0px 8px 32px; */
  box-sizing: border-box;
}

/* ************** EVENTS ************** */
#events-page {
  text-align: center;
  font-size: 24px;
  margin: 10%;
}