/* ************** ABOUT US ************** */
#about-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  flex: 1;
}

.aboutTitle {
  display: flex;
  justify-content: center;
  font-size: 34px;
}

#aboutUsContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  /*display: grid;
  grid-template-columns: repeat(1, 1fr); */
  gap: 45px;
  padding-left: 10%;
  padding-right: 10%;
}

#mission {
  margin-bottom: 0px;
  width: 100%;
  /*min-height: 16rem;*/
  max-width: 100%;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
}

.whomst {
  display: flex;
  flex-direction: row;
  flex: 1 0 21%;
}

.photo-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 0 21%;
}

.about-info {
  width: 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  vertical-align: top;
  margin: 0 20px 20px 0;
}

.headshot {
  border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
