/* ************** ABOUT US ************** */
#about-us {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  flex: 1;
}

.aboutTitle {
  display: flex;
  justify-content: center;
  font-size: 34px;
}

#aboutUsContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  /*display: grid;
  grid-template-columns: repeat(1, 1fr); */
  gap: 45px;
  padding-left: 10%;
  padding-right: 10%;
}

#mission {
  background: rgba(0, 0, 0, 0)
  radial-gradient(at left top, rgb(228, 115, 45) 0%,
  rgb(228, 45, 66) 100%) repeat scroll 0% 0%;
  margin-bottom: 0px;
  width: 100%;
  /*min-height: 16rem;*/
  max-width: 100%;
  position: relative;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.063) 0px 8px 32px;
  box-sizing: border-box;
}

#about-info {
  width: 8%;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 20px 0;
}

#about-info img {
  border-radius: 50%;
  margin: 0 auto;
  width: 10px;
  height: 10px;
}
