/* ************** HOME PAGE ************** */
.home{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.column {
  float: left;
}

.left {
  width: 25%
}

.right {
  width: 60%
}

#backgroundImg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  min-width:1024;
  width: 100%;
  height: auto;
  position: fixed;
  top: 1;
  left: 0;
}

#homeBody{
  padding: 3em 3em 3em 3em;
}

#homeText{
  text-align: justify;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.7);
  padding: 2em;
  margin-left: 5em;
}

#homeTitle{
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 30%;
}

#homeTitle h1{
  margin: 0;
  font-size: 100px;
  background: rgba(255, 255, 255, 0.7);
  padding-left: .6em;
/*  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;*/
}

#homeTitle h1 span{
  color: #f26739;
}

@media screen and (max-width: 768px) {
    #app{
      padding-bottom: 0;
      height: initial;
    }
    #homeBody{
      padding: 1em;
    }
    #homeTitle{
      float: none;
    }
    #homeText{
      padding: 1em;
      max-width: 90%;
    }
}
