/* ************** RESOURCES ************** */
#campus-resources, #summer-opportunities {
  text-align: center;
}

#container-resources {
  text-align: center;
  display: flex;
  /*display: grid;
  grid-template-columns: repeat(2, 1fr); */
  gap: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#container-resources div {
  flex-grow: 2;
  background: rgba(0, 0, 0, 0)
  radial-gradient(at left top, rgb(228, 115, 45) 0%,
  rgb(228, 45, 66) 100%) repeat scroll 0% 0%;
  margin-bottom: 20px;
  width: 100%;
  min-height: 16rem;
  max-width: 100%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.063) 0px 8px 32px;
  box-sizing: border-box;
}
